<!DOCTYPE html>
<html>
<head>
  <title>Brandon Liu's Art</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="full-page">
		<div class="container">
			<div id="top-span" class="horizontal-div"><h1>Brandon Liu</h1></div>
			<div class="horizontal-divider"></div>
			<div id="bottom-div" class="horizontal-div">
				<ul>
					<li><%= link_to "Drawings", drawings_path %>
						</li><!--
					--><li><%= link_to "Animations", '#' %>
						</li><!--
					--><li><%= link_to "Requests", '#' %>
						</li><!--
					--><li><%= link_to "About", '#' %>
						</li>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>


