<!DOCTYPE html>
<html>
<head>
  <title>Brandon Liu's Art</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="full-page">
		<div id="homepage-container">
			<div id="top-span" class="horizontal-div"><h1>Brandon Liu</h1></div>
			<div class="horizontal-divider"></div>
			<div id="bottom-div" class="horizontal-div">
				<ul>
					<li><%= link_to "Drawings", drawings_path, class: "sliding-underline" %>
						</li><!--
					--><li><%= link_to "Animations", animations_path, class: "sliding-underline" %>
						</li><!--
					--><li><%= link_to "Requests", requests_path, class: "sliding-underline" %>
						</li><!--
					--><li><%= link_to "About", about_path, class: "sliding-underline" %>
						</li>
				</ul>
			</div>
		</div>
	</div>

</body>

<%= render 'layouts/adminfooter' %>
</html>


