<div class="container">
	<% @drawings.each do |drawing| %>
		<div class="drawing-container">
			<div class="image-display">
				<%= link_to drawing do %>
					<% if !drawing.cloudinary_url.nil? %>
						<%= image_tag thumbnail(drawing.cloudinary_url), class: "drawing" %>
				 	<% elsif !drawing.image_url.nil?%>
				 	  <%= image_tag drawing.image_url(:thumbnail), class: "drawing" %>
				 	<% end %>
			 	<% end %>
			</div>

			<%= link_to drawing, class: "sliding-underline" do %>
				<h3 class="index-name"><%= drawing.name %></h3>
			<% end %>
			<h4 class="index-datetime"><%= drawing.created_at.strftime("%B %e, %Y, %I:%M %p") %></h4>
		</div>
	<% end %>
</div>

