<div class="container">
	<%= form_for @drawing do |f| %>
		<%= render 'layouts/fields', f: f %>
		
		<%= f.label :image, "Or upload a new image to Cloudinary" %>
		<%= f.hidden_field :image_cache %>
		<%= f.file_field :image %>

		<%= f.submit "Add a drawing" %>
	<% end %>
</div>