<div class="container">
	<section class="fullsize-drawing-container">
		
			<% if !@drawing.cloudinary_url.nil? %>
				<%= link_to @drawing.cloudinary_url do %>
					<%= image_tag lower_quality(@drawing.cloudinary_url) %>
				<% end %>
			<% elsif !@drawing.image_url.nil? %>
				<%= link_to @drawing.image_url do %>
					<%= image_tag @drawing.image_url(:preview) %>
				<% end %>
		<% end %>
		<p class="small-text">Click on image for full quality</p>
	</section>
	<section class="side-information">
		<h2><%= @drawing.name %></h2>
		<h4>Created on <%= @drawing.created_at.strftime("%B %e, %Y, %I:%M %p") %></h4>
		<p class="description"><%= @drawing.description %></p>
	</section>


	<% if logged_in? %>
		<div id="edit-button">
			<%= link_to "Click to edit this entry", edit_drawing_path %>
		</div>
	<% end %>
</div>