<div class="container">
	<%= form_for @animation do |f| %>
		<%= render 'layouts/fields', f: f %>

		<%= f.label :video, "Or upload a new video to Cloudinary" %>
		<%= f.hidden_field :video_cache %>
		<%= f.file_field :video %>

		<%= f.submit "Edit this animation" %>
	<% end %>
</div>