<div class="container" id="animation-page-container">
	<% @animations.each do |animation| %>
		<div class="animation-container">
			<div class="animation-thumbnail-display">
				<%= link_to animation do %>
					<%= image_tag youtube_thumbnail_url(animation.youtube_id), class: "youtube_thumbnail" %>
					<div class="animation-thumbnail-overlay">
						<h3 class="index-name"><%= animation.name %></h3>
						<h4 class="index-datetime"><%= animation.created_at.strftime("%B %e, %Y") %></h4>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>

	<% if logged_in? %>
		<div class="new-button">
			<%= link_to "Click here to add a new animation", new_animation_path %>
		</div>
	<% end %>
</div>

