<div class="container">
	<%= form_for @animation do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :description %>
		<%= f.text_area :description %>

		<%= f.label :youtube_id, "Enter the unique Youtube ID here" %>
		<%= f.text_field :youtube_id %>

		<%= f.submit "Add a new animation" %>
	<% end %>
</div>