<div class="container">
	<section class="fullsize-animation-container">
		<iframe width="560" height="315" src="<%= youtube_video_embed_url(@animation.youtube_id) %>" frameborder="0" allowfullscreen></iframe>
	</section>
	<section class="animation-side-information">
		<h2><%= @animation.name %></h2>
		<h4>Created on <%= @animation.created_at.strftime("%B %e, %Y") %></h4>
		<p class="description"><%= @animation.description %></p>
	</section>


	<% if logged_in? %>
		<div id="edit-button">
			<%= link_to "Click to edit this entry", edit_animation_path %>
		</div>
	<% end %>
</div>