<div class="request-page-container">
	<% if logged_in? %><h3>Currently logged in as admin, showing requests by newest and not by vote total</h3><% end %>
	<%= will_paginate @requests %>

	<% @requests.each do |request| %>
		<div class="request-container">

		<%= render 'votes', :request => request %>
			<span>
				<h3><%= request.title %></h3>
				<% if logged_in? %>
					<% if request.verified? %>
						<%= button_to request_unverify_path(request), class: "verify-button" do %>
							<p class="verified">[VERIFIED]</p>
						<% end %>
					<% else %>
						<%= button_to request_verify_path(request), class: "verify-button" do %>
							<p class="unverified">[UNVERIFIED]</p>
						<% end %>
					<% end %>
				<% end %>
			</span>
			<p><%= request.description %></p>

			<% if logged_in? %>
				<span class="delete-option">
					<%= link_to "Delete", request, method: :delete, data: {confirm: "Are you sure?"} %>
				</span>
			<% end %>
		</div>
	<% end %>

	<%= will_paginate @requests %>

	<br>
	<section class="request-submit">
		<h2>Submit your request or idea!</h2>
		<h4>Your request will first be screened before showing on the public page</h4><br>
		<%= form_for @new_request do |f| %>
			<%= f.label :title, "Title *" %>
			<%= f.text_field :title %>
			<%= f.label :description %>
			<%= f.text_area :description %>
			<%= f.submit "Write in your request!", class: "form-submit" %>
		<% end %>
	</section>
</div>